<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>毕业设计管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/datagrid-detailview.js"></script>
    <style>
        li{list-style:none;
            margin: 3px 0 0 0}
        a{
            text-decoration:none;color: #000;
        }
        ul{
            margin: 0px;
            padding: 0px;
        }
        menuFont{
            font-size:20px;
        }
    </style>
    <script>if(window!=top)
    {
        top.location.href=self.location.href;
    }</script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',split:true" style="height:44px;background-image: url(__PUBLIC__/ui/img/top-bg.jpg);">
    <div style="margin-top: 9px;margin-left: 9px;width: 200px;padding: 0px;">
    <span style="font-family: verdana,sans-serif;
color: #265799;
font-size: 18px;
font-weight: bold;
"></span><span style="font-family: verdana,sans-serif;
color: #242121;
font-size: 18px;
font-weight: bold;">毕业设计管理系统</span>
    </div>
    <div style="position: absolute;top: 10px;right: 40px;width: auto" >
        <span>当前用户在线:{$bh}({$xm})丨</span><a href="{$logout}" style="text-decoration:none;color: #000">注销</a>
    </div>
</div>
<div data-options="region:'west'" style="width:150px;">

    <div class="easyui-accordion" data-options="multiple:true" style="width:140px;margin-right: 5px;margin-left: 5px">
        <div title="我需留意" data-options="selected:true" style="overflow:auto;padding:10px;">
            <ul>

                <li><a href="#" class="menuFont" onclick="selectAction('{$CktzAction}','信息列表')" style="font-size:14px;line-height:20px">查看通知</a></li>

            </ul>
        </div>
    </div>

    <if condition="$qx eq 0 ">
        <div class="easyui-accordion" data-options="multiple:true" style="width:140px;margin-right: 5px;margin-left: 5px;margin-top: 5px">
            <div title="教师目录" data-options="selected:true" style="overflow:auto;padding:10px;">
                <ul>
                    <li><a onclick="selectAction('{$JsTmglAction}','题目管理')" href="#" style="font-size:14px;line-height:20px">题目管理</a></li>
                    <li><a href="#" onclick="selectAction('{$JsCkxsAction}','查看学生')" style="font-size:14px;line-height:20px">查看学生</a></li>
                    <li><a href="#" onclick="selectAction('{$JsJsxxAction}','教师信息')" style="font-size:14px;line-height:20px">教师信息</a></li>
                    <li><a href="{$JsDcwjAction}"  target='_blank' style="font-size:14px;line-height:20px">导出文件</a></li>
                    <!--<li><a href="#" style="font-size:14px;line-height:20px">学生提问</a></li>-->
                </ul>
            </div>

        </div>
    </if>


    <if condition="$qx eq -1 ">
        <div class="easyui-accordion" data-options="multiple:true" style="width:140px;margin-right: 5px;margin-left: 5px;margin-top: 5px">
            <div title="学生目录" data-options="selected:true" style="overflow:auto;padding:10px;">
                <ul>
                    <li><a href="#" onclick="selectAction('{$StuXtAction}','选择毕业设计题目')" style="font-size:14px;line-height:20px">网上选题</a></li>
                    <li><a href="#" onclick="selectAction('{$StuXtResultAction}','选题结果')" style="font-size:14px;line-height:20px">选题结果</a></li>
                    <li><a href="#" onclick="selectAction('{$StuUploadAction}','提交设计')" style="font-size:14px;line-height:20px">提交设计</a></li>
                    <!--<li><a href="#" style="font-size:14px;line-height:20px">学生提问</a></li>-->
                </ul>
            </div>
        </div>
    </if>


    <if condition="$qx eq 1 ">
        <div class="easyui-accordion" data-options="multiple:true" style="width:140px;margin-right: 5px;margin-left: 5px;margin-top: 5px">
        <div title="管理员目录" data-options="selected:true" style="overflow:auto;padding:10px;">
            <ul>
                <li><a href="#" onclick="selectAction('{$GlyFbtzAction}','发布通知')" style="font-size:14px;;margin-bottom:5px">发布通知</a></li>
                <li><a href="#" onclick="selectAction('{$GlyTzglAction}','通知管理')" style="font-size:14px;line-height:20px">通知管理</a></li>
                <li><a href="#" onclick="selectAction('{$GlyDsglAction}','教师管理')" style="font-size:14px;line-height:20px">教师管理</a></li>
                <li><a href="#"  onclick="selectAction('{$GlyXsglAction}','学生管理')" style="font-size:14px;line-height:20px">学生管理</a></li>
                <li><a href="#" onclick="selectAction('{$GlyTmglAction}','题目管理')" style="font-size:14px;line-height:20px">题目管理</a></li>
                <li><a href="#"  onclick="selectAction('{$GlyQtgnAction}','其他功能')" style="font-size:14px;line-height:20px">其他功能</a></li>
                <li><a href="#"  onclick="selectAction('{$GlyZyszAction}','重要设置')" style="font-size:14px;line-height:20px">重要设置</a></li>
            </ul>
        </div>
    </div>
    </if>



    <div class="easyui-accordion" data-options="multiple:true" style="width:140px;margin-right: 5px;margin-left: 5px;margin-top: 5px">
        <div title="其他" data-options="selected:true" style="overflow:auto;padding:10px;">
            <ul>
                <li><a href="#" onclick="$('#dlgg').dialog('open')" style="font-size:14px;line-height:20px">修改密码</a></li>

            </ul>
        </div>
    </div>
</div>
<div id="mainF" data-options="region:'center',title:'概览'" style="">



</div>

<script>

    function selectAction(inherf,intitle){
        $('#mainF').panel('refresh',inherf);
        $('#mainF').panel('setTitle',intitle);
    }
    $(function(){

        $('#dlgg').dialog('close');
        selectAction('{$CktzAction}','信息列表');
    });
function xgsubmit() {
    $('#fm1').form({
        url:'{$XgmmAction}',
    onSubmit: function () {
        if($("#new").val()!=$("#con").val()){
            $.messager.alert({
                        title: 'Error',
                        msg: "密码不一致"
                    });
                    return false;
        }
		if($("#new").val()==''){
            $.messager.alert({
                        title: 'Error',
                        msg: "密码不能为空"
                    });
                    return false;
        }
        return true;
    },
    success:function (data) {
        var result = eval('('+data+')');
        if(result.err==0){
		$.messager.alert({
                        title: '提示',
                        msg: "修改成功"
                    });
           

                    $('#dlgg').dialog('close');
          
        }else{
             $.messager.alert({
                        title: 'Error',
                        msg: result.err
                    });
        }
    }
});
    // submit the form
    $('#fm1').submit();
}
</script>
<div id="dlgg" class="easyui-dialog" title="修改密码" style="width:400px;height:300px;padding:10px"
     data-options="

                iconCls: 'icon-save',

                buttons: [{
                    text:'Ok',
                    iconCls:'icon-ok',
                    handler:function(){
                        xgsubmit();
                    }
                },{
                    text:'Cancel',
                    handler:function(){
                        $('#dlgg').dialog('close');
                    }
                }]
            ">
    <form id="fm1" method="post" novalidate>
        <div class="fitem" style="margin-bottom:20px">
        <label>原密码:</label>
        <input id="old" name="old" type="password"  class="easyui-textbox" style="width:100%;height:32px" required="true"><br />
</div>
        <div class="fitem" style="margin-bottom:20px">
        <label>新密码:</label>
        <input id="new" name="new" type="password"  class="easyui-textbox" style="width:100%;height:32px" required="true"><br />
    </div>
        <div class="fitem" style="margin-bottom:20px">
            <label>确认密码:</label>
            <input id="con" name="con" type="password"  class="easyui-textbox" style="width:100%;height:32px" required="true">
        </div>
    </form>
</div>
</body>
</html>
