<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>这里是选题结果界面</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/demo//demo.css">	
	<script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js"></script>
<script src="http://wx.ancai4399.com/public/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<div style="position: relative;left:5%;width:90%;top:2%;">
	<div id="p" class="easyui-panel" title="以下是你的选题详细情况"
    style="width:100%;padding:10px;background:#fafafa;"
    data-options="iconCls:'icon-save',closable:true,
    collapsible:true,">
    <div> 
    	<table id="pg" class="easyui-propertygrid" style="width:100%" data-options="
				url:'{$XtResult}',
				method:'post',
				showGroup:true,
				scrollbarSize:0
			">
		</table>
	 </div>
	  <br>
	  <div> 
	  	<IF condition="$judge eq 1">
	  		<table id="" class="easyui-datagrid" style="width:100%;height:auto;" singleSelect="true" 
	  			data-options="iconCls:'icon-save',resizable:true,modal:true"
	  		>
				<thead>
					<tr>
						<th field="name1" width="25%" >选题结果</th>
						<th field="name2" width="25%" ></th>
						<th field="name3" width="25%" ></th>
						<th field="name4" width="25%" ></th>
					</tr>                          
				</thead>                           
				<tbody>                            
					<tr>                           
						<td>题目名称</td>
						<td>{$info_tm.tmmc}</td> 
						<td>出题教师</td>
						<td>{$jsxm_tm}</td>             
					</tr>                          
					<tr>                           
						<td>开发技术</td>            
						<td>{$info_tm.kfjs}</td>
						<td>题目描述</td>
						<td>{$tmms}</td>
					</tr>
				</tbody>                           
			</table>			
			<br>
			<div id="panel" class="easyui-panel" title="题目详细信息"
			    style="width:100%;padding:10px;background:#fafafa;">
			    <p>{$info_tm.tmms}</p>
			</div>
			
		<ELSE />
			<table id="ee" class="easyui-datagrid" style="width:100%;height:auto;" singleSelect="true">
				<thead>
					<tr>
						<th field="name1" width="100%" >必须先选题才能看到题目的基本信息</th>
					</tr>                          
				</thead>
			</table>	
	  	</IF>
	  </div>
</div>
</div>
<script>
$('#pg').propertygrid({
	showHeader:false
});

</script>
</body>
</html>