<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>
    .btn-info{
        background-color: #00a0e9;
        border-color: #00a2d4;
    }
    .panel{
        border-width: 1px;
    }
    .panel-info{
        border-color: #00a0e9;
    }
    .panel-danger{
        border-color: #b94a48;
    }
</style>
<body>
<div class="container-fluid">
    <div style="padding:10px ;width: 100%;height: 100%">
        <div class="page-header">
            <!--<h4>常用设置</h4>-->
        </div>

        <volist name="data" id="vo">

        <div

            <eq name="vo.value" value="1"> class="panel panel-info"<else/> class="panel panel-danger"</eq>
        >
            <div class="panel-body" style="height: 50px">
                <span

                <eq name="vo.value" value="1"> class="glyphicon glyphicon glyphicon-ok"  style="padding: 0px;color: #00a0e9"<else/> class="glyphicon glyphicon glyphicon-remove" style="padding: 0px;color: #b94a48"</eq>



                      aria-hidden="true"></span>
                <span style="height: 20px;font-size: 18px;font-weight: 500;line-height: 20px;padding-right: 20px">是否开启{$vo.ms}功能</span>


                <div class="pull-right">
                    <a href="{$comfrim}/name/{$vo.name}/set/1" type="button" class="btn btn-info" style="width: 60px;height: 30px;margin-top: -5px;font-size: 10px">开启</a>
                    <a href="{$comfrim}/name/{$vo.name}/set/0" type="button" class="btn btn-default" style="width: 60px;height: 30px;margin-top: -5px;font-size: 10px">关闭</a>
                </div>
            </div>
        </div>


    </volist>



</div>
</div>
</body>
</html>