<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="easyui-tabs" style="width:100%;height:100%;" id="mytabs">
    <div title="通知列表" style="padding:0px;">
        <table id="tt"  class="easyui-datagrid" style="width:100%;height:99%;border-width: 0px;padding:0px" striped="true" 
               url="{$load}"  pageSize="15" pageList="[15,20,30,40,50]"
               rownumbers="true" fitColumns="true" singleSelect="true" pagination="true">
        </table>
    </div>


</div>

<script>
    function addTab(title, url){
        if ($('#mytabs').tabs('exists', title)){
            $('#mytabs').tabs('select', title);
        } else {
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
            $('#mytabs').tabs('add',{
                title:title,
                content:content,
                closable:true
            });
        }
    }
    $('#tt').datagrid({
        columns:[[
            {field:'bt',title:'标题',width:360,formatter:function(value,row,index){
                var s="<a href='#' onclick=\" addTab('"+row.bt+"','{$tzview}/id/"+row.id+"')\">"+row.bt+"</a>";
                return s;
            }},
            {field:'fbrq',title:'发布时间',width:140},
            

        ]]
    });


</script>
</body>
</html>