<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>这里是选题页面</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/demo//demo.css">
	<script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js"></script>	
</head>
<body>
<if condition="$judge eq 1">
	<table id="Xt" class="easyui-datagrid" style="width:100%;"
		url="{$url}"
		title="请选择题目" iconCls="icon-save"
		rownumbers="true" pagination="true" toolbar="#tb" iconCls="icon-save" singleSelect="true">
		<thead>
			<tr>
				<th field="ck" checkbox="true"></th>
				<th field="tmbh" width="7%">题目编号</th>
				<th field="tmmc" width="12%">题目名称</th>
				<th field="jsbh" width="7%">教师编号</th>
				<th field="jsxm" width="7%">教师姓名</th>
				<th field="tmzy" width="7%">题目专业</th>
				<th field="kfjs" width="15%">开发语言</th>
				<th field="_tmms" width="20%">题目描述</th>
				<th field="status" width="10%">本班人员是否选择</th>
				<th field="judge">当前是否可以选择此选题</th>
			</tr>
		</thead>
	</table>
	<div id="tb">
		<a href="#" onclick="getSelectLine();" class="easyui-linkbutton" iconCls="icon-add" plain="true">确认选择</a>
	</div>
	<else/>
		<div id="panel" class="easyui-panel" title="题目详细信息"
			    style="width:100%;padding:10px;background:#fafafa;">
			    <p>亲爱的同学你好！你已经成功选课了，请点击选题结果查看详情！</p>
		</div>
</if>



<script>
var Url="{$XtUrl}";
function getSelectLine(){
	//在这里我们使用ajax选题,如果我们选中了某一道题目。	
	var row = $('#Xt').datagrid('getSelected');
	if (row){
		if(row.judge=="可以"){
			$.ajax({
	    		type:"post",
	    		url: Url,
	    		data:{tmbh: row.tmbh},    		
	    		dataType: "json",
	    		success: function(data){
	    			location.reload();
	    		},
	    		error: function(){
	    			alert("内部错误,请联系管理员!");
	    		}
	    	})
		}
		else{
			alert("抱歉！当前不题目不可选!");
		}
	}
	else{
		alert("你必须选择一个课题!");
	}
}
$(function(){
	$('#Xt').datagrid({
	    view: detailview,
	    detailFormatter:function(index,row){
	        return '<div class="ddv" style="padding:5px 10px"></div>';
	    },
	    onExpandRow: function(index,row){
	        var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
	        ddv.panel({
	            border:false,
	            cache:false,
	            content:row.tmms,
	        });
	        $('#dg').datagrid('fixDetailRowHeight',index);
	    }
	});
})


</script>
</body>
</html>