<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>这里是选题页面</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/demo//demo.css">
	<script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js"></script>	
</head>
<body>
<if condition="$judge eq 1">
	<table id="Xt" style="width:100%;"
		url="{$url}"
		rownumbers="true" pagination="true" toolbar="#tbSelected" singleSelect="true" fitColumns="true" pageSize="15" pageList="[15,20,30,40,50]" striped="true">
		<thead>
			<tr>
				<th field="ck" checkbox="true"></th>
				<!-- <th field="tmbh" width="4%">题号</th> -->
				<th field="tmmc" width="14%">题目名称</th>
				<th field="kfjs" width="15%">开发语言</th>
				<th field="_tmms" width="36%">题目描述</th>
				<th field="xm" width="6%">出题教师</th>
				<th field="zc" width="6%">教师职称</th>
				<th field="judge">是否可选</th>
			</tr>
		</thead>
	</table>
	<div id="tbSelected">
		<a href="#" onclick="getSelectLine();" class="easyui-linkbutton" iconCls="icon-ok">确认选择</a>		
	</div>
	<else/>
		<div id="panel" class="easyui-panel" title="题目详细信息"
			    style="width:100%;padding:10px;background:#fafafa;">
			    <p>亲爱的同学你好！你已经成功选课了，请点击选题结果查看详情！</p>
		</div>
</if>



<script>
var Url="{$XtUrl}";
function getSelectLine(){
	//在这里我们使用ajax选题,如果我们选中了某一道题目。
	var row = $('#Xt').datagrid('getSelected');
	if (row){
		if(row.judge=="可以"){
			$.ajax({
	    		type:"post",
	    		url: Url,
	    		data:{tmbh: row.tmbh},
	    		dataType: "json",
	    		success: function(data){
	    			if(data.status==1){
						$.messager.alert('温馨提示', data.info,'info', function(){
							selectAction('{$StuXtResultAction}','选题结果');
						});
	    			}
	    			else{
	    				$.messager.alert("温馨提示",data.info,'info');
	    			}
	    		},
	    		error: function(){
					$.messager.alert("温馨提示","网络不稳定,请重新尝试!",'info');
	    		}
	    	})
		}
		else{
			$.messager.alert("温馨提示","抱歉！当前题目不可选!",'info');
		}
	}
	else{
		$.messager.alert("温馨提示","你必须选择一个课题!",'info');
	}
}
$('#Xt').datagrid({
    view: detailview,
    detailFormatter:function(index,row){
        return '<div class="ddv" style="padding:5px 10px"></div>';
    },
    onExpandRow: function(index,row){
        var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
        ddv.panel({
            border:true,
            cache:false,
            content:"题目详情:"+row.tmms,
        });
        $('#Xt').datagrid('fixDetailRowHeight',index);
    }
});


</script>
</body>
</html>