<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js">
    </script>

</head>
<body>
    <div style="padding:10px">
<table id="dg" title="" class="easyui-datagrid" 
       url="{$load}"  pageSize="15" pageList="[15,20,30,40,50]"
       rownumbers="true" fitColumns="true" singleSelect="true" pagination="true">
    <thead>
    <tr>
        <th field="xh" width="50">学号</th>
        <th field="xm" width="50">姓名</th>
        <th field="bj" width="50">班级</th>
        <th field="jsbh" width="50"></th>
    </tr>
    </thead>
</table>
    </div>

<script>


    $('#dg').datagrid({
        columns:[[
            {field:'xh',title:'学号',width:11},
            {field:'xm',title:'姓名',width:10},
            {field:'bj',title:'班级',width:10},
            {field:'qq',title:'qq',width:15},
            {field:'tel',title:'联系方式',width:15},
            {field:'tmmc',title:'选题内容',width:20},
            {field:'dtqk',title:'答题情况',width:45,formatter:function(value,row,index){
                var s="";
				if(row.ktbg==null){
                    s+="开题报告:<span class='icon-cancel'>&nbsp;&nbsp;&nbsp;</span>；"
                }else {
                    s+="开题报告:<span class=' icon-ok'>&nbsp;&nbsp;&nbsp;</span>；"
                }
                if(row.bylw==null){
                    s+="毕业论文:<span class='icon-cancel'>&nbsp;&nbsp;&nbsp;</span>；"
                }else {
                    s+="毕业论文:<span class='icon-ok'>&nbsp;&nbsp;&nbsp;</span>；"
                }
                if(row.cx==null){
                    s+="附件:<span class='icon-cancel'>&nbsp;&nbsp;&nbsp;</span>；"
                }else {
                    s+="附件:<span class='icon-ok'>&nbsp;&nbsp;&nbsp;</span>；"
                }
                return s;
            }},
            {field:'sj_ktbg',title:'开题报告提交时间',width:20,formatter:function(value,row,index){

                return getLocalTime(row.sj_ktbg);
            }},
            {field:'sj_bylw',title:'毕业论文提交时间',width:20,formatter:function(value,row,index){

                return getLocalTime(row.sj_bylw);
            }},
            {field:'sj_cx',title:'附件提交时间',width:20,formatter:function(value,row,index){

                return getLocalTime(row.sj_cx);
            }}
        ]]
    });
    function getLocalTime(nS) {
	if(nS==0) return "未提交";
	var date=new Date(parseInt(nS) * 1000);
	
        return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
    }

</script>



</body>
</html>