<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js">
    </script>
</head>
<body>
 <div style="margin:10px">
<table id="dg3" title="" class="easyui-datagrid" striped="true" 
       url="{$load}"
       toolbar="#toolbar"  pageSize="15" pageList="[15,20,30,40,50]"
       rownumbers="true"  singleSelect="true" pagination="true">
    <thead>
    <tr>
        <th field="xh" width="80" sortable="true" editor="{type:'validatebox',options:{required:true}}">学号</th>
        <th field="xm" width="60"  sortable="true" editor="{type:'validatebox',options:{required:true}}">姓名</th>
        <!--<th field="xy" width="60" sortable="true" editor="text">学院</th>-->
        <th field="zy" width="90" editor="text">专业</th>
        <th field="bj" width="65" sortable="true" editor="{type:'validatebox',options:{validType:'email'}}">班级</th>
		<th field="tel" width="90" editor="{type:'validatebox',options:{validType:'email'}}">联系电话</th>
        <th field="qq" width="90" editor="{type:'validatebox',options:{validType:'email'}}">QQ</th>

        <th field="tmmc" width="150" editor="{type:'validatebox',options:{validType:'email'}}">题目名称</th>
        <th field="jsbh" width="80" sortable="true" editor="{type:'validatebox',options:{validType:'email'}}">教师编号</th>
        <th field="jsxm" width="55" sortable="true"  editor="{type:'validatebox',options:{validType:'email'}}">指导教师</th>
		
        
        <th field="reset" width="60" editor="{type:'validatebox',options:{validType:'email'}}"></th>
		<th field="resetTm" width="60" editor="{type:'validatebox',options:{validType:'email'}}"></th>
    </tr>
    </thead>
</table>
 </div>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newTm()">添加</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editTm()">编辑</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyTm()">删除</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editJs()">调整指导老师</a>

    <label style="margin-left:10px">学号:</label>
    <input class="easyui-textbox" style="width:70px" id="xs_search_xh">
    <label>姓名:</label>
    <input class="easyui-textbox" style="width:70px" id="xs_search_xm">
    <label>班级:</label>
    <input class="easyui-textbox" style="width:70px" id="xs_search_bj">
    <a href="#" class="easyui-linkbutton"  onclick="searcher()">查询</a>
    <a href="#" class="easyui-linkbutton" style="margin-left:15px"  onclick="searcher2()">查询全部学生</a>
</div>

<div id="dlg2" class="easyui-dialog" style="width:280px;height:300px;padding:10px 20px" 
     closed="true" buttons="#dlg-buttons2">
    <form id="fm" method="post">
        <table>
        <!--<div style="margin-bottom:20px">-->
            <tr>
            <td>学号:</td>
                <td><input name="xh" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
            </tr>
        <!--</div>-->
        <!--<div style="margin-bottom:20px">-->
            <tr>
                <td>姓名:</td>
                <td><input name="xm" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
            <tr>
        <!--</div>-->
        <!--<div style="margin-bottom:20px">-->
            <!--<tr>
                <td>学院:</td>
            <td><input name="xy" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
        </tr>-->
        <!--</div>-->
        <!--<div style="margin-bottom:20px">-->
            <tr>
                <td>专业:</td>
            <td><input name="zy" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
            </tr>
            <tr>
                <td>班级:</td>
            <td><input name="bj" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
            </tr>
        <!--</div>-->
        <!--<div style="margin-bottom:20px">
            <tr>
                <td>题目编号:</td>
            <td><input name="tmbh" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
            </tr>
        </div>-->
        <!--<div style="margin-bottom:20px">-->
            <!--<tr>
                <td>教师编号:</td>
                <td><input name="jsbh" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>
            </tr>-->
        <!--</div>syui-textbox" style="width:80%;height:28px" required="true">-->
        <!--</div>-->
        <!--<div style="margin-bottom:20px">-->
            <!--<tr>-->
                <!--<td>成绩:</td>-->
            <!--<td><input name="cj" class="easyui-textbox" style="width:150px;height:26px" required="true"></td>-->
            <!--</tr>-->
        <!--</div>-->
        <!--<div style="margin-bottom:20px">-->
            
        <!--<div style="margin-bottom:20px">-->
            <tr>
                <td>联系电话:</td>
            <td><input name="tel" class="easyui-textbox" style="width:150px;height:26px" ></td>
            </tr>
			<tr>
                <td>QQ:</td>
            <td><input name="qq" class="easyui-textbox" style="width:150px;height:26px" ></td>
            </tr>
        <!--</div>-->
        </table>
    </form>
</div>

<div id="dlg-buttons2">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveTm()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')">取消</a>
</div>

<div id="tz_dlg2" class="easyui-dialog" style="width:500px;height:400px;padding:10px 20px"
     closed="true" buttons="#tz_dlg-buttons2">

        <table id="Xjs" class="easyui-datagrid" style="width:100%;"
               url="{$loadJs}"
               title="请选择教师" iconCls="icon-save"
               rownumbers="true"  singleSelect="true" fitColumns="true">
            <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th field="jsbh" width="100">教师编号 </th>
                <th field="xm" width="100">姓名</th>
                <th field="zy" width="100">专业</th>

            </tr>
            </thead>
        </table>

    </div>
<div id="tz_dlg-buttons2">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="getSelectLine1();">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#tz_dlg2').dialog('close')">取消</a>
</div>



<script>

        $('#dg3').datagrid({
	loadFilter: function(data){
        for(var i=0;i<data.rows.length;i++){
        
        data.rows[i].reset='<a href="#" onclick="javascript:resetMm(\''+data.rows[i].xh+'\')" >重置密码</a>';
		data.rows[i].resetTm='<a href="#" onclick="javascript:resetTm(\''+data.rows[i].xh+'\')" >取消选题</a>';
        }
        return data;
	}
});

function searcher(){
            //当value为空的时候，搜索所有邮箱
            $('#dg3').datagrid('load', {
                xs_search_xh: $('#xs_search_xh').val(),    
                xs_search_xm: $('#xs_search_xm').val(),
                xs_search_bj: $('#xs_search_bj').val()
            });
        }

        function searcher2(){
            //当value为空的时候，搜索所有邮箱
            $('#dg3').datagrid('load', {
                xs_search_xh: '',    
                xs_search_xm: '',
                xs_search_bj: ''
            });
        }

function getSelectLine1(){
    var row = $('#Xjs').datagrid('getSelected');
    if(row){
        $.ajax({
            type:"post",
            url: '{$xgjs}',
            data:{jsbh: row.jsbh,xh:select_xs_id},
            dataType: "json",
            success: function(data){
                $('#tz_dlg2').dialog('close');
                $('#dg3').datagrid('reload');
            },
            error: function(){
                $('#tz_dlg2').dialog('close');
                alert("网络不稳定,请重新尝试!");
            }
        })
    }
}
    function newTm(){
        $('#dlg2').dialog('open').dialog('setTitle','新增');
        $('#fm').form('clear');
        url = '{$saveXs}';
    }

var select_xs_id;

    function editJs(){
        var row1 = $('#dg3').datagrid('getSelected');
        if (row1) {
            select_xs_id=row1.xh;
            $('#tz_dlg2').dialog('open').dialog('setTitle', '调整');
            $('#tz_fm').form('clear');
            url = '{$saveXs}';
        }
    }

    function saveTz(){
        $('#tz_fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.err!=0){
                    $.messager.alert({
                        title: 'Error',
                        msg: result.err
                    });
                } else {
                    $('#tz_dlg2').dialog('close');		// close the dialog
                    $('#dg3').datagrid('reload');	// reload the user data
                }
            }
        });
    }

    function editTm(){
        var row1 = $('#dg3').datagrid('getSelected');
        if (row1){
            $('#dlg2').dialog('open').dialog('setTitle','编辑');
            $('#fm').form('load',row1);
            url = '{$updataXs}/xh/'+row1.xh;
        }
    }

    function saveTm(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.err!=0){
                    $.messager.alert({
                        title: 'Error',
                        msg: result.err
                    });
                } else {
                    $('#dlg2').dialog('close');		// close the dialog
                    $('#dg3').datagrid('reload');	// reload the user data
                }
            }
        });
    }
    function destroyTm(){
        var row1 = $('#dg3').datagrid('getSelected');
        if (row1){
            $.messager.confirm('确认','你确定要删除该学生吗?',function(r){
                if (r){
                    $.post('{$destroyXs}',{xh:row1.xh},function(result){
                        if (result.err==0){
                            $('#dg3').datagrid('reload');	// reload the user data
                        } else {
                            $.messager.show({	// show error message
                                title: 'Error',
                                msg: result.err
                            });
                        }
                    },'json');
                }
            });
        }
    }



    function resetMm(xh){
        var row = $('#dg3').datagrid('getSelected');
        if (row){
            $.messager.confirm('确认','你确定要重置密吗?',function(r){
                if (r){
                    $.post('{$resetMm}',{xh:xh},function(result){
                        if (result.err==0){
						$.messager.alert({
                        title: '提示',
                        msg: '重置成功'
                    });
                            $('#dg3').datagrid('reload');	// reload the user data
                        } else {
                            $.messager.show({	// show error message
                                title: 'Error',
                                msg: result.err
                            });
                        }
                    },'json');
                }
            });
        } 
    }

function resetTm(xh){
        var row = $('#dg3').datagrid('getSelected');
        if (row){
            $.messager.confirm('确认','你确定要取消选题吗?',function(r){
                if (r){
                    $.post('{$resetTm}',{xh:xh},function(result){
                        if (result.err==0){
						$.messager.alert({
                        title: '提示',
                        msg: '取消成功'
                    });
                            $('#dg3').datagrid('reload');	// reload the user data
                        } else {
                            $.messager.show({	// show error message
                                title: 'Error',
                                msg: result.err
                            });
                        }
                    },'json');
                }
            });
        } 
    }
</script>



</body>
</html>