<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ui/easyui/themes/icon.css">
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/ui/easyui/jquery.easyui.min.js">
    </script>

</head>
<body>
     <div style="margin:10px">
<table id="dg123" title="" class="easyui-datagrid" striped="true" 
       url="{$load}"  pageSize="15" pageList="[15,20,30,40,50]"
       toolbar="#toolbar" fitColumns="true"
       rownumbers="true"  singleSelect="true" pagination="true">
    <thead>
    <tr>
        <th field="tmmc" width="250">题目名称</th>
        <th field="kfjs" width="250">开发技术</th>
        <th field="tmms" width="550">题目描述</th>
        <th field="jsbh" width="100">教师编号</th>
   <th field="xm" width="90">出题教师</th>
    </tr>
    </thead>
</table>
     </div>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newTm()">添加题目</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editTm()">编辑</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyTm()">删除</a>
</div>

<div id="dlg11123" class="easyui-dialog" style="width:460px;height:360px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons123">
    <form id="fm123" method="post">
        <div style="margin-bottom:15px">
            <div style="margin-bottom:5px">题目名称:</div>
            <input name="tmmc" class="easyui-textbox" style="width:100%;height:26px" required="true">
        </div>
        <div style="margin-bottom:15px">
            <div style="margin-bottom:5px">开发技术:</div>
            <input name="kfjs" class="easyui-textbox" style="width:100%;height:26px" required="true">
        </div>
        <div style="margin-bottom:20px">
            <div style="margin-bottom:5px">题目描述:</div>
            <input name="tmms" class="easyui-textbox" style="width:100%;height:100px" data-options="multiline:true" required="true">
        </div>
    </form>
</div>
<div id="dlg-buttons123">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveTm()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg11123').dialog('close')">取消</a>
</div>
<script>

//    $('#dg123').datagrid({
//        view: detailview,
//        detailFormatter:function(index,row){
//            return '<div class="ddv" style="padding:5px 0"></div>';
//        },
//        onExpandRow: function(index,row){
//            var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
//            ddv.panel({
//                border:false,
//                cache:false,
//                content:row.tmms,
//            });
//            $('#dg123').datagrid('fixDetailRowHeight',index);
//        }
//    });

    function newTm(){
        $('#dlg11123').dialog('open').dialog('setTitle','新增题目');
        $('#fm123').form('clear');
        url = '{$saveTm}';
    }

    function editTm(){
        var row = $('#dg123').datagrid('getSelected');
        if (row){
            $('#dlg11123').dialog('open').dialog('setTitle','编辑题目');
            $('#fm123').form('load',row);
            url = '{$updataTm}/tmbh/'+row.tmbh;
        }
    }

    function saveTm(){
        $('#fm123').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.err!=0){
                    $.messager.show({
                        title: 'Error',
                        msg: result.err
                    });
                } else {
                    $('#dlg11123').dialog('close');		// close the dialog
                    $('#dg123').datagrid('reload');	// reload the user data
                }
            }
        });
    }
    function destroyTm(){
        var row = $('#dg123').datagrid('getSelected');
        if (row){
            $.messager.confirm('确认','你确定要删除该题目吗?',function(r){
                if (r){
                    $.post('{$destroyTm}',{tmbh:row.tmbh},function(result){
                        if (result.err==0){
                            $('#dg123').datagrid('reload');	// reload the user data
                        } else {
                            $.messager.show({	// show error message
                                title: 'Error',
                                msg: result.err
                            });
                        }
                    },'json');
                }
            });
        }
    }


</script>



</body>
</html>