<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="w" class="easyui-panel"  data-options="iconCls:'icon-save'" style="padding:0px;margin:10px">
    

        <div data-options="region:'center'" style="padding:10px;">
            <div class="fitem" style="margin-bottom:20px">
                <label>标题:</label>
                <input name="bti" id="bti" class="easyui-textbox" style="width:80%;height:30px;margin: auto"><br />
            </div>
            
            <iframe name="myeditor" style="width:80%;height: 500px;border-width: 1px;margin-left:30px;border:1px #D4D4D4 solid;-moz-border-radius:4px;  
                -webkit-border-radius:4px;  
                border-radius:4px;  " border="0" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"  src="/gds/ueditor/index.html"></iframe>
            <div style="width:200px"></div>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:fbtz()" style="width:80px;margin-bottom:20px;;margin-right:20%;margin-top:15px;float:right">发布</a>
        </div>
    

</div>
<div id="dlg11" class="easyui-dialog" style="width:700px;height:600px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <form id="fm11" method="post">
        <div style="margin-bottom:20px">
            <div>标题:</div>
            <input name="bt" id="bt" class="easyui-validatebox" type="text"  style="width:100%;height:32px" data-options="required:true">
        </div>
        <div style="margin-bottom:20px">
            <div>内容:</div>
            <input name="nr" id="nr" class="easyui-textbox" style="width:100%;height:32px" required="true">
        </div>
    </form>
</div>
<script>
    function fbtz(){
        var bt=$("#bti").val();
        var nr= myeditor.window.ue.getContent();
        
        var row=new Array();
        row.bt=bt;
        row.nr=nr;
        $('#fm11').form('load',row);
        $('#fm11').form({
            url:'{$fbtz}',
            onSubmit: function () {
                if(row.bt==''){
                    $.messager.alert('提示','标题不能为空');
                    return false;
                }
                return true;
            },
            success:function (data) {
                var result = eval('('+data+')');
                if(result.err==0){
                    $.messager.alert('提示','发布成功');
                }
            }
        });
        // submit the form
        $('#fm11').submit();
    }
</script>
</body>
</html>